html {
  overflow-x: hidden !important;
}

.users {
  display: flex;
  flex-direction: column;
  background-color: rgb(96, 201, 76);
  align-items: center;
  justify-content: center;
  color: black;
  padding: 3rem;
  font-family: "Montserrat", sans-serif !important;
}

.users h2 {
  align-items: center;
}
